<div class="picture-gradient ">
  <div class="d-flex justify-content-end pt-3 menu px-5">
    <a rel="noopener" href="#projects" class="mx-3 text-white no-decoration">Projekte</a>
    <a rel="noopener" href="#aboutme" class="mx-3 text-white no-decoration">Über mich</a>
    <a rel="noopener" href="#contact" class="mx-3 text-white no-decoration">Kontakt</a>
  </div>
  <div class="d-md-flex half-header container justify-content-between">
    <div class="intro mt-5">
      <h1 class="">Hi,<br> ich bin Isabel Dockemeyer.</h1>
      <p class="text-hidden text-white mb-3">Frontend Developer</p>
      <a rel="noopener" href="#projects" class="pink no-decoration more-padding">Projekte</a>
    </div>
    <div class="picture-transparent align-self-end">
      <h2 class="big-italic">FRONTEND DEVELOPER</h2>
    </div>
  </div>
</div>

  <div class="inner">
    <div class="icon">
    </div>
  </div>

<div class="container mt-5 spacing">
  <h2 class="mb-4 text-center text-black" id="projects">Meine Projekte</h2>
    <div class="d-sm-flex justify-content-around">
        <div class="white-card ">
          <%= image_tag ("houselist.png"), class: "img-logo"%>
          <%= image_tag ("houselist-preview.png"), class: "img-big"%>
          <%= link_to 'Zum Projekt', houselist_path, class: 'pink-small'%>
        </div>

        <div class="white-card ">
          <%= image_tag ("krenty.png"), class: "img-logo-small"%>
          <%= image_tag ("Krenty-laptop.png"), class: "img-big"%>
          <%= link_to 'Code auf Github', "https://github.com/Isabeldoc/krenty", class: 'pink-small' %>
        </div>
    </div>
    <div class="d-sm-flex justify-content-around">
        <div class="white-card ">
          <h2 class="text-logo">Übung - Urban Jungle</h2>
          <%= image_tag ("urban-jungle.png"), class: "img-big"%>
          <%= link_to 'Zur Landing Page', "https://isabeldoc.github.io/landing/", class: 'pink-small' %>
        </div>
    </div>
    <div class="card-gradient spacing">
      <h2 class="my-5 text-center" id="aboutme">Über mich</h2>
      <p class="mx-5 text-center text-white">Junior Frontend Entwicklerin mit einem Hintergrund im Bereich Medien und Eventmanagement.
        Vor kurzem habe ich ein intensives 9-wöchiges Bootcamp bei Le Wagon absolviert,
        in dem ich erfolgreich zwei Projekte umgesetzt habe
        - eine Webapp und eine Progressive Web App (PWA).
        Mit meinem kundenorientierten Bewusstsein und meiner Leidenschaft für die Entwicklung
        von benutzerfreundlichen Frontend-Lösungen freue ich mich darauf,
        Mehrwert in Ihr Unternehmen zu bringen und gemeinsam an spannenden Projekten zu arbeiten.</p>
      <%= image_tag ("sprachen.png"), class: "image-long my-5"%>
    </div>
    <h2 class="mb-4 text-center text-black spacing" id="contact">Let's code together!</h2>
    <p class="text-center text-pink">Kontaktiere mich!</p>
    <div class="d-flex justify-content-center">
      <a href="https://github.com/Isabeldoc">
        <%= image_tag ("github.png"), class: "icon-contact"%>
      </a>
      <a href="https://www.linkedin.com/in/isabel-dockemeyer-385530195/">
        <%= image_tag ("linkedin.png"), class: "icon-contact"%>
      </a>
    </div>
</div>
